<h1>Current Local Event Listing</h1>
<br />
<%= link_to "Add New Event", add_event_path %><br /><br />


<ul class="users">
	<table>
	<% 
	@events.each do |event| %>
		<%= render 'event_entry', :object => event %>
	<% end %>
	</table>
</ul>

