<h1>Drug Free Draper Resource Listing</h1>
<br />
<% if !current_user.nil? && current_user.admin? %>
	<%= link_to "Add New Resource", add_resource_path %>
<% end %>
<ul class="users">
	<table>
	<% 
	@resources.each do |resource| %>
		<%= render 'resource_entry', :object => resource %>
	<% end %>
	</table>
</ul>
