<h1>Welcome To The Drug Free Draper Home Page!</h1>

  	<h3>Our Mission</h3>

	To reduce drug abuse among our youth and ultimately the adults in Draper, our ultimate goal is for a Drug Free Draper.
	<br /><br />


	<h3>Our History</h3>

	Our coalition was formed in November of 2010 by a handful of Draper residents. As a coalition, we have had various degrees of exposure to drug abuse - from witnessing neighborhood crime to drug addiction within our families or among friends. As we continue to develop our organization we have associated ourselves with local and national leadership groups such as the Draper City Police Department, D.A.R.E., Draper schools, substance treatment centers, city officials, private citizens, church leaders, and the Utah Council for Crime Prevention. Our coalition brings experience, knowledge, and passion. Our goal is to make an impact in regards to educating our community about the drug problem in Draper, keeping our community safe, and empowering parents with tools to keep their children safe.

<table>
  <tr>
    <td>
	<h4>Upcoming Events</h4>
	</td>
	
	<td>
	<h4>Resources</h4>
		
	</td>
  </tr>	
</table>
<br />
<%= link_to "Register For The Mailing List", construction_path %>
