
  <table class="front homepagetable" summary="For signed-in users">
    <tr>
      <td class="homesidebar round">        
        This is the generic home page for signed in users<br />
        <br />
	</td>
	</tr>
  </table>

