 <footer>
    <nav class="round">
      <strong><%= link_to "Contact Webmaster", 
                        "mailto:aamax@xmission.com") %> 
        Phone: (801) 502-4745</strong><br />
    </nav>
  </footer>
