 <footer  class="round">
	<table>
		<tr>
			<td>
			  <br />
		      <strong>&nbsp;&nbsp;&nbsp;<%= mail_to "aamax@xmission.com", "Email WebMaster" %> 
		        Phone: (801) 502-4745</strong><br />
			  <br />
			</td>
		</tr>
	</table>
  </footer>
