<header>
	<%= link_to logo, root_path %>
	<%= render 'layouts/menu' %>

		  <% if signed_in? %>
		    <div class="UserName">
		      <%= link_to "Hello " + current_user.fname.titleize + "!", current_user %>
		    </div>
		  <% end %>
</header>
